<div class="animal-show-push">
  <div class="flipy flip-vertical">
    <div class="front" style="background-image: url(<%= @pet.image_url %>)">
    <h1 class="text-shadow"><%= @pet.name %></h1>
    </div>
    <div class="back">
    <% if @pet.adopted == true %>
      <h2>Adopted by: <%= link_to @pet.user.to_s, @pet.user %></h2>
    <% else %>
      <h2>Ready to be adopted!<h2>
      <p><%= @pet.gender %> <%= @pet.animal.name %></p>
      <% if @pet.animal.endangered %>
      <p>Currently an endangered species.</p>
      <% else %>
      <p>Currently not an endangered species.</p>
      <% end %>
    <% end %>
    <% if @pet.adopted == false %>
      <%= form_for @pet do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= button_to 'adopt', @pet, method: :patch, class: :submit_button %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<div class="container">

    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">

    		<div class="widget-area no-padding blank">
          <h5>Create Post</h5>
					<div class="status-upload">
									<%= form_for @post, as: :post, url: '/posts', method: :post do |f|%>
										<%= f.hidden_field :user_id, value: session[:user_id]%>
                    <%= f.hidden_field :pet_id, value: @pet.id %>
                    <!-- <textarea name="content" placeholder="What are you doing right now?" ></textarea> -->
                    <%= f.text_area :content, placeholder: "What do you think about this cutie?" %>

                    <%= f.submit "Share", :class => 'btn btn-success green'%>

										<!-- <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button> -->
									<% end %>
					</div><!-- Status Upload  -->
				</div><!-- Widget Area -->
			</div>
      <div class="col-md-2">
      </div>
      </div>

      <div class="row">

          <div class="col-md-2">
          </div>
          <div class="col-md-8">
          <h5 style="text-align: left"> Comments </h5>
    	<hr>
      <% if @posts.empty? %>
      <p>No comments yet.</p>
      <hr>
      <% end %>
      <% if @posts%>
      <% @posts.each do |post| %>
    	<div class="row comment">
    	    <div class="head">
    	        <small><strong class='user'><%= post.user.to_s %></strong><%= post.created_at %></small>
              <% if session[:user_id] == post.user_id %>
                <%= link_to "/delete_post/#{post.id}", method: :post do %>
                <i class="far fa-trash-alt" id="right"></i>
                <% end %>
              <% end %>
    	    </div>
    	</div>
      <div class="row comment">
          <p><%= post.content %> </p>
      </div>
      <hr>
      <% end %>
      <% end %>
      </div>
  <div class="col-md-2">
  </div>
</div>
</div>
