<div class="profile-cover">
  <div class="hero-text">
    <h1 class="title"> Profile </h1>
  </div>
</div>

<div class="profile">
  <main>
    <div class="row">
      <div class="left col-lg-4">
        <div class="photo-left">
          <img class="photo" src=<%= @user.profile_image %> height="400" width="400" />
          <div class="active"></div>
        </div>
        <h4 class="name"><%= @user.to_s %></h4>
        <p class="info">UI/UX Designer</p>
        <p class="info"><%= @user.email %></p>
        <p class="desc">Hi ! My name is Jane Doe. I'm a UI/UX Designer from Paris, in France. I really enjoy photography and mountains.</p>
        <div class="social">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <i class="fa fa-pinterest-square" aria-hidden="true"></i>
          <i class="fa fa-tumblr-square" aria-hidden="true"></i>
        </div>
      </div>
  </main>
</div>

<div class="profile-pets">
  <% @user.pets.each do |pet| %>
    <div class="flip flip-vertical">
      <div class="front" style="background-image: url(<%= pet.image_url %>)">
        <h1 class="text-shadow"><%= pet.name %></h1>
      </div>
      <div class="back">
        <h2><%= pet.name %></h2>
        <p><%= pet.gender %> </p>
          <a href="/pets/<%= pet.id %>"><button type="button">Check it out!</button></a>
      </div>
  </div>
  <% end %>
</div>

<div id="columnchart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable(<%= raw @user.animal_count %>);
  // 'width':550, 'height':400,
  var options = {'title':'My Pets',
   'vAxis': {format: '#'}
   };

  var chart = new google.visualization.ColumnChart(document.getElementById('columnchart'));
  chart.draw(data, options);
}
</script>