
<div class="cover">
  <div class="profile">
    <main>
      <div class="row">
        <div class="left-col">
          <div class="photo-left">
            <% if @user.profile_image != "" and !@user.profile_image.nil? %>
              <img class="photo" src=<%= @user.profile_image %> height="400" width="400" />
            <% end %>
            <div class="active"></div>
          </div>
          <div class ="profile-info">
            <h2 class="name"><%= @user.to_s %></h2>
            <hr width="50%">
            <p class="info"><%= @user.email %></p>
            <% if !@user.email.nil? %>
              <p class="desc"><%= @user.about %></p>
            <% end %>
          </div>
          <hr width="10%">
          <div class="statsrow">
            <div class="stat col-xs-4" >
              <p class="number-stat"><%= @user.pets.count %></p>
              <p class="desc-stat">Pets</p>
            </div>
          </div>
          <div class="social">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-pinterest-square" aria-hidden="true"></i>
            <i class="fa fa-tumblr-square" aria-hidden="true"></i>
          </div>
        </div>
    </main>
    
  </div>
</div>

<% if @user.pets.count > 0 %>
  <div class="hricon">
    <hr class="icon">
  </div>
<% end %>

<div class="profile-pets">
  <% @user.pets.each do |pet| %>
    <div class="flip flip-vertical">
      <div class="front" style="background-image: url(<%= pet.image_url %>)">
        <h1 class="text-shadow"><%= pet.name %></h1>
      </div>
      <div class="back">
        <h2><%= pet.name %></h2>
        <p><%= pet.gender %> </p>
          <a href="/pets/<%= pet.id %>"><button type="button">Check it out!</button></a>
      </div>
  </div>
  <% end %>
</div>

<div class="hricon">
  <hr class="icon">
</div>

<% if @user.animal_count.count > 1 %>
  <div id="columnchart"></div>
<% end %>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable(<%= raw @user.animal_count %>);
  // 'width':550, 'height':400,
  var options = {'title':'My Pets',
   'vAxis': {format: '#'}
   };

  var chart = new google.visualization.ColumnChart(document.getElementById('columnchart'));
  chart.draw(data, options);
}
</script>