
<div class="animals-cover">
  <div class="hero-text">
    <h1 class="title"> Animals </h1>
  </div>
</div>

<!-- <h4>Species</h4> -->
<% @animals.each do |animal| %>
<a href="/animals/<%= animal.id %>">
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(<%= animal.image_url %>)">
       <h1 class="text-shadow"><%= animal.name %></h1>
    </div>
    <div class="back">
      <% if animal.endangered == true %>
       <h2><%= animal.name %></h2>
       <p><%= animal.name %> is very likely to become extinct.</p>
       <% else %>
       <h2><%= animal.name %></h2>
       <p><%= animal.name %> is currently safe in this world.</p>
      <% end %>
    </div>
</div>
</a>
<% end %>
