<!-- <div class="pushdown">
  Jon and Norberts
  </div> -->
    <div class="arrivals-animals">
      <h1 class="second-animal-title"> <%= @animal.name %> </h1>
      <hr class="blue_horizontal">
      <% if @animal.endangered %>
      <p>Currently an endangered species.</p>
        <% else %>
      <p>Currently NOT an endangered species.</p>
        <% end %>
    </div>

<% @pets.each do |pet| %>
<a href="/pets/<%= pet.id %>">
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(<%= pet.image_url %>)">
       <h1 class="text-shadow"><%= pet.name %></h1>
    </div>
    <div class="back">
       <h2><%= pet.name %></h2>
       <p><%= pet.gender %></p>
       <p> <%= pet.weight %></p>
    </div>
</div>
</a>
<% end %>
