

<div class="hero-image">
  <div class="hero-text">
    <h1 class="title">Zoodopt</h1>
    <p><em>Build a Zoo. Build a Family.</em></p>
    <a href="/animals" ><button>Adopt</button></a>
  </div>
</div>

<div class="home-about">


  <div class="about-text">
      <p><em>A <b style="color:yellow">FAMILY</b>, JUST ONE <a href="/animals" style="color:yellow">CLICK</a> AWAY.</em></p>
  </div>
</div>

<div class="arrivals">
  <h2 class="title"> NEW FRIENDS</h2>
  <p><em> Just recently added! <em><p>
</div>
<div class="cover">
<% @latest.each do |pet| %>
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(<%= pet.image_url %>)">
       <h1 class="text-shadow"><%= pet.name %></h1>
    </div>
    <div class="back">
       <h2><%= pet.name %></h2>
       <p><%= pet.gender %> </p>
        <a href="/pets/<%= pet.id %>"><button type="button">Adopt</button></a>
    </div>
</div>
<% end %>
<div>
